body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

#tooltip {
  color: #98eb6b;
}

#commentButton {
  background-color: #6877f3;
  color: #ffffff;
}

#editIcon {
  color: #6877f3;
}

#add-btn {
  background-color: #98eb6b;
  color: black;
  margin-top: 40px;
  margin-bottom: 20px;
}

#container {
  border: solid #6877f3;
  border-radius: 15px;
  width: 50%;
  height: 65%;
  margin: auto;
  margin-top: 90px;
  padding: 20px;
  background-color: #6876f3e0;
}

.ui.secondary.pointing.menu {
  background-color: #6877f3;
}

.ui.secondary.pointing.menu .active.item {
  border-color: #ffff !important;
  color: #ffff !important;
}

.ui.menu .item {
  color: #ffff !important;
}

.errors {
  color: rgb(192, 4, 4);
}

.home {
  color: #98eb6b9a;
}

.outerHome {
  display: flex;
  background-image: url(/Users/kristinahodges/Development/code/phase-5/travel-on/client/src/assets/pic1.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

#btn {
  background-color: #98eb6b;
  color: black;
  margin-top: 20px;
  margin-bottom: 40px;
}
.welcomeHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  border: solid black;
  width: 60%;
  margin-top: 30px;
  padding: 20px;
}

.welcomePage {
  text-align: center;
  line-height: 2;
}

li {
  margin: 10px;
  list-style: none;
}

.pHome {
  font-size: 34px;
  text-align: center;
}

.marker-btn {
  cursor: pointer;
  background: none;
  border: none;
}

.sidebarStyle {
  display: inline-block;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

.marker-btn img {
  width: 30px;
  height: 30px;
}

.places-map {
  position: relative;
  display: block;
  margin-left: 150px;
  margin-right: auto;
}
